---
interface Props {
  width?: string;
}

const { width = '60px' } = Astro.props;
---

<div
  class="burgundy-rule bg-burgundy rounded-full"
  style={`width: ${width}; height: 2px;`}
  aria-hidden="true"
></div>
