---
interface Props {
  width?: string;
}

const { width = '80px' } = Astro.props;
---

<div
  class="bg-gold-gradient-h rounded-full"
  style={`width: ${width}; height: 1px;`}
  aria-hidden="true"
></div>
